::selection {
  color: #fff;
  background: $primary-color;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
  color: $gray-dark !important;
}

a {
  color: $primary-color;
}

h1,
h2,
h3 {
  color: $black;
  font-family: $secondary-font-family !important;
  margin: 0;
}

* {
  font-family: $body-font-family !important;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray-dark;
    border-radius: 10px;

    &:hover {
      background: $black;
    }

    &:active {
      background: $primary-color;
    }
  }
}

.c-loader-app {
  @include flex-center;

  background-color: $white;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 1;

  &__animation {
    font-size: 80px;
    color: $primary-color;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}

.c-app {
  height: 100vh;
  overflow: hidden;

  &__section {
    transform: scale(0.9);

    @include transition;

    &.loaded {
      transform: scale(1);
    }
  }

  &:has(.loaded) {
    overflow: auto;
  }
}
