<article class="padding-3 bg-pri-color white">
  <h3>Hola Mundo</h3>
  <p class="margin-bottom-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore officia iste recusandae illum vitae dolore, distinctio alias quod est sed. Fugiat quasi excepturi odit quidem impedit doloribus sequi, corrupti itaque?</p>
</article>