.c-button {
  font-size: $fs-16;
  padding: 0.7rem 1rem;

  @include b-radious(10px);
  @include transition(0.2s);

  &:hover {
    transform: translateY(-0.35rem);
  }

  &--primary {
    &:hover,
    &:focus {
      color: $white;
    }
  }
}
