//-------------|---------------
// Base colors |
//-------------|---------------

$primary-colors: (
  'color': $primary-color,
  'alt': $primary-alt
);

$secondary-colors: (
  'color': $secondary-color,
  'alt': $secondary-alt
);

$gray-colors: (
  'color': $gray,
  'light': $light-gray,
  'medium': $medium-gray,
  'dark': $dark-gray,
);

$other-colors: (
  'white': $white,
  'black': $black,
  'success': $success-color
);

//-------------|---------------
// Base Typography |
//-------------|---------------

$font-sizes: (
  '14' : $fs-14,
  '16' : $fs-16,
  '18' : $fs-18,
  '21' : $fs-21,
  '25' : $fs-25,
  '30' : $fs-30,
  '35' : $fs-35,
  '40' : $fs-40
);

$font-weights: (
  'light': $light-font,
  'regular': $regular-font,
  'medium': $medium-font,
  'sbold': $semibold-font,
  'bold': $bold-font,
  'xbold': $extrabold-font,
  'black': $extrabold-font
);

$font-families: (
  '1': $body-font-family,
  '2': $font-family-secondary
);

// 1. Text and Background colors
// --------------

@each $key, $pcolor in $primary-colors {
  .pri-#{$key} {
    color: $pcolor;
  }

  .bg-pri-#{$key} {
    background-color: $pcolor;
  }
}

@each $key, $scolor in $secondary-colors {
  .sec-#{$key} {
    color: $scolor;
  }

  .bg-sec-#{$key} {
    background-color: $scolor;
  }
}

@each $key, $gcolor in $gray-colors {
  .#{$key}-gray {
    color: $gcolor;
  }

  .bg-#{$key}-gray {
    background-color: $gcolor;
  }
}

@each $key, $ocolor in $other-colors {
  .#{$key} {
    color: $ocolor;
  }

  .bg-#{$key} {
    background-color: $ocolor;
  }
}

// 2. Font sizes
// --------------

@each $key, $fsize in $font-sizes {
  .fs-#{$key} {
    font-size: $fsize;
  }
}

// 3. Font weights
// --------------

@each $key, $fweight in $font-weights {
  .w-#{$key} {
    font-weight: $fweight;
  }
}

// 4. Font family
// --------------

@each $key, $ffam in $font-families {
  .f#{$key} {
    font-family: $ffam;
  }
}

//5. etc
// --------------
.br {
  &--small {
    border-radius: 5px;
  }

  &--medium {
    border-radius: 10px;
  }
}

.of {
  &--cover {
    object-fit: cover;
  }

  &--contain {
    object-fit: contain;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
