::-moz-selection {
  color: #fff;
  background: $primary-color;
}

::selection {
  color: #fff;
  background: $primary-color;
}

body {
  width: 100%;
  overflow-x: hidden;
}

//Fancybox
body.compensate-for-scrollbar {
  overflow-y: auto !important;
}
