.c-section {
  outline: none;

  &__title {
    font-size: $fs-25;
    color: $black;
    font-weight: $bold-font;
  }

  .c-card-image {
    height: 200px;
  }
}

@include breakpoint(large) {
  .c-section {
    outline: none;
  }
}
