@use 'variables';

/* Maps - Variables */
$primary-colors: (
  'color': variables.$primary-color,
  'alt': variables.$primary-alt
);
$secondary-colors: (
  'color': variables.$secondary-color,
  'alt': variables.$secondary-alt
);
$gray-colors: (
  'light': variables.$gray-light,
  'color': variables.$gray,
  'medium': variables.$gray-medium,
  'dark': variables.$gray-dark
);
$other-colors: (
  'white': variables.$white,
  'black': variables.$black,
  'success': variables.$success-color,
  'warnings': variables.$warning-color,
  'alerts': variables.$alert-color
);
$font-sizes: (
  '14': variables.$fs-14,
  '16': variables.$fs-16,
  '18': variables.$fs-18,
  '21': variables.$fs-21,
  '25': variables.$fs-25,
  '30': variables.$fs-30,
  '35': variables.$fs-35,
  '40': variables.$fs-40
);
$font-weights: (
  'regular': variables.$font-regular,
  'medium': variables.$font-medium,
  'sbold': variables.$font-semibold,
  'bold': variables.$font-bold,
  'black': variables.$font-black
);
$font-families: (
  '1': variables.$body-font-family,
  '2': variables.$secondary-font-family
);

/*
* -----------------------------------------------------------/
* 1. Text and Background colors
* -----------------------------------------------------------/
*/

@each $key, $pcolor in $primary-colors {
  .pri-#{$key} {
    color: $pcolor;
  }

  .bg-pri-#{$key} {
    background-color: $pcolor;
  }
}

@each $key, $scolor in $secondary-colors {
  .sec-#{$key} {
    color: $scolor;
  }

  .bg-sec-#{$key} {
    background-color: $scolor;
  }
}

@each $key, $gcolor in $gray-colors {
  .gray-#{$key} {
    color: $gcolor;
  }

  .bg-gray-#{$key} {
    background-color: $gcolor;
  }
}

@each $key, $ocolor in $other-colors {
  .#{$key} {
    color: $ocolor;
  }

  .bg-#{$key} {
    background-color: $ocolor;
  }
}

/*
* -----------------------------------------------------------/
* 2. Font size, weights and families
* -----------------------------------------------------------/
*/

@each $key, $fsize in $font-sizes {
  .fs-#{$key} {
    font-size: $fsize;
  }
}

@each $key, $fweight in $font-weights {
  .w-#{$key} {
    font-weight: $fweight;
  }
}

@each $key, $ffam in $font-families {
  .f#{$key} {
    font-family: $ffam;
  }
}
