@use '../base/variables';

.c-footer {
  color: variables.$white;
  background: variables.$primary-color;
  padding: 0.5rem 0;

  a,
  a:hover,
  a:focus {
    color: variables.$white;
    font-weight: variables.$font-bold;
  }

  a:hover {
    text-decoration: underline;
  }
}
