<footer>
  <div class="footer_content">
      <a class="footer_logo" href="">
          <img src="{{theme.link}}/static/images/logo_rog_footer.svg" alt="">
      </a>
      <ul class="footer_sociallist">
        {% for item in social_menu.items %}          
          <li>
            <a href="{{item.link}}" target="_blank">
              <i class="fab fa-{{item.slug}}"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
  </div>
</footer>
