{% set slider = home.get_field('slider-group')['slider'] %}

{% if slider %}
  <div class="c-slider">
    <div class="grid-container position-relative flex-container align-middle height-100">
      <button class="c-slider__button-left button large position-absolute" id="slider-control-prev">
        <i class="fal fa-angle-left"></i>
      </button>
      <div class="grid-x align-center width-100">
        <div class="cell medium-8 large-6">
          <div class="c-slider__items" id="slider">
            {% for item in slider %}
              {% set item = item['products'] %}
              <div class="c-slider__item">
                <div class="c-slide text-center">
                  <h3 class="c-slide__title white">{{ item.post_title }}</h3>
                  <p class="white">{{ item.post_content|excerpt(25) }}</p>
                  <a class="hollow button" href="{{ item.link }}">Detalles del producto</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <button class="c-slider__button-right button large position-absolute" id="slider-control-next">
        <i class="fal fa-angle-right"></i>
      </button>
    </div>
  </div>
{% endif %}
