@use '../base/variables';
@use '../base/core';

.c-section {
  outline: none;

  &__title {
    font-size: variables.$fs-30;
    color: variables.$black;
    font-weight: variables.$font-bold;
  }

  .c-card-image {
    height: 200px;
  }
}

@include core.media-breakpoint-up(lg) {
  .c-section {
    outline: none;
  }
}
