@use '../base/variables';
@use '../base/mixins';

.c-button {
  font-size: variables.$fs-16;
  padding: 0.7rem 1rem;
  display: inline-block;
  outline: none;
  cursor: pointer;

  @include mixins.b-radious(5px);
  @include mixins.transition(0.2s);

  &--primary {
    background-color: variables.$primary-color;
    color: variables.$white;
    border: none;

    &:hover,
    &:focus {
      background-color: variables.$primary-alt;
      color: variables.$white;
    }
  }

  &--white {
    background-color: variables.$white;
    color: variables.$primary-color;

    &:hover,
    &:focus {
      color: variables.$primary-color;
    }
  }
}
