<!doctype html>
<html lang="es">
  <head>
    {% include '_html-head.twig' %}

    {% block metas %}
      {% include "_html-seo.twig" %}

      {# content #}
    {% endblock %}
  </head>

  <body>
    <main id="app" data-site="{{site.url}}" data-theme="{{theme.link}}" class="c-main">
      {% block hero %}
        {# Content #}
      {% endblock %}

      {% block content %}
        {# Content #}
      {% endblock %}
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    {{ function('wp_footer') }}
  </body>
</html>
