<!doctype html>
<html lang="es">
  <head>
    {% include '_html-head.twig' %}

    {% block metas %}
      {% include "_html-seo.twig" %}
      
      {# content #}    
    {% endblock %}
  </head>

  <body>
    <main id="app" data-site="{{site.url}}" class="c-main">
      {% block hero %}
        {# Content #}
      {% endblock %}

      {% block content %}
        {# Content #}
      {% endblock %}

      {% block footer %}
        {% include "_html-footer.twig" %}
        
        {# Content #}
      {% endblock %}
    </main>

    {{ function('wp_footer') }}
  </body>
</html>
