{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--home">
    <h1 class="text-center padding-vertical-3">Title <i class="icon-behance"></i> </h1>
  </section>
{% endblock %}

