{% extends '_html.twig' %}

{% block hero %}
  {% include 'template-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--home">
    <div class="grid-container margin-bottom-2">
      <h1 class="text-center padding-vertical-3" data-aos="fade-up" data-aos-once="true" data-aos-duration="900">${title} <i class="icon-facebook"></i> </h1>
      <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell medium-6 large-4">
          {% include "components/article.twig" %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

