{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section">
    <h1 class="text-center">Title</h1>
  </section>
{% endblock %}

