{% extends '_html.twig' %}

{% block metas %}
  {# --SEO-- #}
{% endblock %}

{% block hero %}
  {% include 'template-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--article">
    <h1 class="text-center">Title</h1>
  </section>
{% endblock %}

